{% extends 'base.html' %}

{% load static %}

{% block title %}관심도서{% endblock %}
<link rel="stylesheet" href="{% static 'web_app/assets/css/styles.css' %}">

{% block content %}
<div class="contact-page">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="section-heading">
			<div class="line-dec"></div>
			<h1>관심도서</h1>
				<div class="add_notice">
					<p> ＊관심도서 상품 목록입니다.</p>
					<p> ＊상품 정보가 변경될 수 있으니 주문 시 다시 확인해 주세요. </p>
				</div>
		  </div>
		</div>
	  </div>
	</div>

	{% for favorited_book in favorited_books %}
    <div>
        <img src="{{ favorited_book.book.image.url }}" alt="{{ favorited_book.book.name }}" height="50px">
        <p>{{ favorited_book.book.name }}</p>
        <p>{{ favorited_book.book.author }}</p>
        <form method="post" action="{% url 'remove_from_favorites' favorited_book.book.id %}">
            {% csrf_token %}
            <button type="submit">삭제</button>
        </form>
    </div>
	
		</div>
		</div>
		<div class="book-container">
			<div class="button"><buttion>삭제</buttion></div>
			<div>
				<img src="{{ book.image.url }}" alt="" height="50px" >
				<br>
				<a>{{book.name}}</a>
				<a>{{book.author}}</a>
			</div>
</div>


{% endfor%}
{% endblock %}