{% extends 'base.html' %}

{% load static %}

{% block title %}찜한 상품{% endblock %}
<link rel="stylesheet" href="{% static 'web_app/assets/css/styles.css' %}">

{% block content %}
<div class="book-container">
  <div class="book-description">
<br><br><br>
					 <section class="wishlist">
        <h2>찜한 상품</h2>
        <div class="wishlist__information">
          <ul>
            <li>찜한 상품 목록입니다.</li>
            <li>상품 정보가 변경될 수 있으니 주문 시 다시 확인해 주세요.</li>
          </ul>
        </div>
					 <table class="list-table">
				      <thead>
				          <tr>
				              <th >상품</th>
				              <th>상품명</th>
				              <th >상품 설명</th>
				              <th>상품 가격</th>
				              <th>삭제</th>
				           </tr>
				        </thead>
				       
				        <tbody>
				         <tr class="cart__list__detail">
                <td><img src="{% static 'web_app/assets/images/header-logo.png' %}" alt="" height="50px" ></td>
   

    <td><a href="#">항공서비스 실무중국어</a><span class="cart__list__smartstore"> </span>
        <p>항공과</p>
        
    </td>
    <td>설명</td>
    <td><span class="price">17,000</span></td>
    <td><button class="delete-button">X</button></td>
    
				 
				    </table>
				</div>
			</div>
{% endblock %}
