<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
  <!-- ... (내 정보 페이지의 내용) ... -->

  <!-- 장바구니 페이지의 내용 추가 -->
  <div class="container-fluid p-0 m-0">
    <div class="">
      <div class="featured-items">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% if result %}
                <!-- 카드 내용 -->
                {% for book in result %}
                  <!-- ... (기존 코드) ... -->
                {% endfor %}
              {% else %}
                {% for book in book %}
                  <!-- ... (기존 코드) ... -->
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 장바구니 페이지로 이동하는 버튼 추가 -->
    <div class="col-md-12 text-center mt-4">
      <a href="{% url 'cart' %}" class="btn btn-warning">장바구니 페이지로 이동</a>
    </div>
    <div class="col-md-12 text-center mt-4">
      <a href="{% url 'heart' %}" class="btn btn-danger">관심도서 페이지로 이동</a>
    </div>
  </div>
<br>
  <!-- ... (내 정보 페이지의 내용) ... -->
{% endblock %}
</html>