<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %} {% block content %} {% load static %}
    <link rel="stylesheet" href="{% static 'web_app/assets/css/styles.css' %}">


  <!-- 장바구니 페이지의 내용 추가 -->
  <div class="container-fluid p-0 m-0">
    <div class="">
      <div class="featured-items">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% if result %}
                <!-- 카드 내용 -->
                {% for book in result %}
                  <!-- ... (기존 코드) ... -->
                {% endfor %}
              {% else %}
                {% for book in book %}
                  <!-- ... (기존 코드) ... -->
                {% endfor %}
              {% endif %}

    <!-- 장바구니 페이지로 이동하는 버튼 추가 -->
<div class="row row-center">
    <div class="col-md-6 text-center mt-0 gutter">
  <a href="{% url 'cart' %}">
    <img src="{% static 'cart_1.png' %}" alt="장바구니 페이지로 이동">
  </a></div>
      <div class="col-md-6 text-center mt-0 gutter">
  <a href="{% url 'heart' %}">
    <img src="{% static 'cart_2.png' %}" alt="관심도서 페이지로 이동">
  </a></div>
</div></div></div>
<br>
  <!-- ... (내 정보 페이지의 내용) ... -->
{% endblock %}
</body>

        <!-- 장바구니 페이지로 이동하는 버튼 추가 -->
        <div class="my_info">
            <div class="my_info_cart">
                <a href="{% url 'cart' %}">
                    <img src="{% static 'cart_1.png' %}" alt="장바구니 페이지로 이동" />
                </a>
            </div>
            <div class="my_info_heart">
                <a href="{% url 'heart' %}">
                    <img src="{% static 'cart_2.png' %}" alt="관심도서 페이지로 이동" />
                </a>
            </div>
        </div>
    </div>
    <br />  </div></div>
    <!-- ... (내 정보 페이지의 내용) ... -->
    {% endblock %}
        </div></div>
</html>
