
{% extends 'base.html' %}

{% load static %}

{% block title %}장바구니{% endblock %}
<link rel="stylesheet" href="{% static 'web_app/assets/css/style' %}">

{% block content %}
<div class="book-container">
  <div class="book-description">
<br><br><br>

  <h1 >장바구니</h1>

  <!-- 장바구니 이미지 -->
  <img src="{% static 'web_app/cart_image.png' %}" alt="장바구니 이미지" width="30" height="30">

    {% for item in cart_items %}
    <p>{{ item.book.name }} - 수량: {{ item.quantity }}
    <a href="{% url 'delete_from_cart' item.book.id %}">삭제</a>
    </p>
{% endfor %}
  <!-- 여기에 장바구니 아이템 목록 등을 표시하는 내용 추가 -->
  <!-- 예시로 임의의 텍스트를 사용하였습니다. 실제로는 장바구니 아이템을 동적으로 표시해야 합니다. -->


</div>
</div>

{% endblock %}