<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 페이지</title>
</head>
<body>
    <h1>상품 결제</h1>
    <form action="{% url 'process_payment' %}" method="POST">
        {% csrf_token %}
        <label for="cardholder-name">카드 소유자 이름:</label>
        <input type="text" id="cardholder-name" name="cardholder_name" required><br>
        <label for="card-element">카드 정보:</label>
        <div id="card-element"></div>
        <button type="submit">결제하기</button>
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'web_app/assets/js/pay.js' %}"></script>
</body>
</html>
