
/* 드롭다운 메뉴의 너비 조절 */
.navbar-dark .navbar-nav .nav-link {
  color: #000000; /* 드롭다운 텍스트 색상 */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ffc107; /* 드롭다운 텍스트 색상 - hover나 focus 상태일 때 */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #2e3a5e; /* 토글 버튼 아이콘의 배경색 */
}

.dropdown-menu {
 max-width: 1900px;
  min-width : 1900px;
  width: 100%;
  left: auto; /* 기본 왼쪽 위치 해제 */
  right: 50%; /* 가운데 정렬을 위해 오른쪽에 50% 위치시킴 */
  transform: translateX(55.5%); /* 가운데 정렬을 위해 이동 */
  background-color: #2e3a5e;
  }

.dropdown-menu a {
  display: block; /* 가로폭 전체로 확장 */
  padding: 10px 30px; /* 내부 여백 설정 (필요에 따라 조절) */
  color: #fff;
  text-align: center;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #FFC13D; /* 드롭다운 메뉴 항목 hover나 focus 상태일 때 배경색 */
  color: #2e3a5e; /* 드롭다운 메뉴 항목 hover나 focus 상태일 때 텍스트 색상 */

}


div.menu-section.future-ict a.dropdown-item.future-ict {
  font-size : 20px;
  color: #FFC13D;
  font-weight: bold;
}

div.menu-section.fusion-design a.dropdown-item.design {
  font-size : 20px;
  color: #FFC13D;
  font-weight: bold;
}

div.menu-section.human-service a.dropdown-item.human-service {
  font-size : 20px;
  color: #FFC13D;
  font-weight: bold;
}

div.menu-section.global-service a.dropdown-item.global-service {
  font-size : 20px;
  color: #FFC13D;
  font-weight: bold;
}

/* 메뉴 섹션 가로배치 */
.menu-sections {
  display: flex;
  flex-direction: row; /* 가로로 배치 */

}

/* 각 메뉴 섹션의 스타일 (선택적으로 스타일을 추가 및 수정하세요) */
.menu-section {
  padding: 20px; /* 각 메뉴 섹션의 간격을 조절 (선택사항) */
}

.centered-div {
  width: 50%; /* 원하는 가로 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 설정 */
  padding: 20px; /* 내용 주위의 여백 (선택사항) */
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
}
.book-container {
display: flex;
align-items: center;
}
.book-description {
  flex: 1;
  padding-left: 20em;
  float: left;
  margin-right: 10px;
}
.book-image {
flex: 1;
max-width: 200px;
max-height: 300px;
text-align: center;
}
.book-details {
  flex: 1;
  text-align: right;
  padding-right: 20em;
}

.price_left {
  float: left;
}
.book-description {
  float: left;
  margin-right: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  /* clear: both; */
}

.clearfix {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(243, 238, 166); 
  padding: 20px; 
}

.input-container {
  display: inline-block;
  margin: 8px;
  margin-top: 0px;
  background-color: hsla(225, 93%, 42%, 0.589);
  padding: 4px;
  border-radius: 6px;
}

.form-control {
  width: 300px; 
  padding: 10px;
  border: none;
}
